<!DOCTYPE html>
<html>

<body>
    <ul id="myList1">
        <li>Coffee</li>
    </ul>
    <input type="text" id="myList2">

    <p>Click the button to copy an item from one list to another.</p>

    <button onclick="myFunction()">Try it</button>

    <p id="my">Try changing the <em>deep</em> parameter to false, and only an empty LI element will be cloned.</p>

    <script>
        function myFunction() {
            var itm = document.getElementById("myList2");
            var cln = itm.cloneNode(true);
            document.getElementById("my").append(cln);
        }
    </script>

</body>

</html>