{% extends "base.html" %}
{% block content %}

    <div class="card p-3">
        <h1 class="text-center">{{test.title}}</h1>
        <hr class="mt-0">
        <p class="text-center">{{test.subject}}</p>
        <form action="{% url 'submit' pk=test.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{test.questions.count}}" name="qcount">
            <div id="demo" class="carousel card p-md-5 p-4" interval="false">
                <div class="carousel-inner">
                    {% for question in test.questions.all reversed %}
                        {% if forloop.counter == 1 %}
                            <div class="carousel-item active">
                            {% else %}
                                <div class="carousel-item">
                                {% endif %}
                                <h3>Question
                                    {{forloop.counter}}
                                    <a class="float-right" id="question-{{forloop.counter}}" style="font-weight: 400;">{{forloop.counter}}/{{test.questions.count}}</a>
                                </h3>
                                <hr>
                                <h6>{{question}}</h6><br>
                                <input type="radio" name="choice-{{forloop.counter}}" value="1">
                                <a>{{question.option1}}</a><br>
                                <input type="radio" name="choice-{{forloop.counter}}" value="2">
                                <a>{{question.option2}}</a><br>
                                <input type="radio" name="choice-{{forloop.counter}}" value="3">
                                <a>{{question.option3}}</a><br>
                                <input type="radio" name="choice-{{forloop.counter}}" value="4">
                                <a>{{question.option4}}</a><br>
                            </div>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="row justify-content-center">
                        <button class="col-md col-5 btn btn-outline-secondary m-1" href="#demo" data-slide="prev">
                            <span>Previous</span>
                        </button>
                        <button class="col-md col-5 btn btn-outline-secondary m-1" href="#demo" data-slide="next">
                            <span>Next</span>
                        </button>
                        <button class="col-md col-5 btn btn-outline-warning m-1">
                            <span>Review</span>
                        </button>
                        <button type="submit" class="col-md col-5 btn btn-outline-success m-1">
                            <span>Complete Test</span>
                        </button>
                    </div>
                    <hr>
                    <div class="text-center">
                        {% for i in test.questions.all %}
                            <a data-target="#demo" data-slide-to="{{forloop.counter0}}">{{forloop.counter}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>
        <br>
        <div class="card text-center">
            <div class="card-header h5">
                Rules to be followed
            </div>
            <div class="card-text p-3">
                {{test.description}}
            </div>
            <div class="card-footer">
                Test duration:
                {{test.time}}
                Hrs
            </div>
        </div>

    {% endblock content %}
